<!-- edit-account-dialog.component.html -->
<div mat-dialog-content>
  <form [formGroup]="editAccountForm" class="edit-account-form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="editAccountForm.get('name')?.hasError('required')">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Debit Balance</mat-label>
      <input matInput formControlName="debit_balance">
      <mat-error *ngIf="editAccountForm.get('debit_balance')?.hasError('required')">Debit Balance is required</mat-error>
      <mat-error *ngIf="editAccountForm.get('debit_balance')?.hasError('pattern')">Invalid format. Use up to 2 decimal places.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Credit Balance</mat-label>
      <input matInput formControlName="credit_balance">
      <mat-error *ngIf="editAccountForm.get('credit_balance')?.hasError('required')">Credit Balance is required</mat-error>
      <mat-error *ngIf="editAccountForm.get('credit_balance')?.hasError('pattern')">Invalid format. Use up to 2 decimal places.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Financial Year</mat-label>
      <input matInput formControlName="financial_year">
      <mat-error *ngIf="editAccountForm.get('financial_year')?.hasError('required')">Financial Year is required</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button class="cancel-button" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" class="save-button" [disabled]="editAccountForm.invalid" (click)="onSave()">Save</button>
</div>
