<div class="yields-container">
  <mat-toolbar color="primary" class="toolbar">
    <span>Yields</span>
    <span class="spacer"></span>
    <button mat-raised-button class="add-yield-button" (click)="openAddYieldDialog()">
      Add New Yield
    </button>
  </mat-toolbar>

  <div class="yields-card-container" matSort>
    <mat-card *ngFor="let yield of dataSource.data" class="yields-card">
      <mat-card-header class="yields-card-header">
        <mat-icon class="header-icon">inventory</mat-icon>
        <mat-card-title>{{ yield.rawItem.item_name }} ({{ yield.rawItem.unit_name }})</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="section-header">
          <mat-icon class="section-icon">build</mat-icon>
          <h3 class="section-title">Processed Items</h3>
        </div>
        <mat-chip-set>
          <ng-container *ngFor="let item of yield.processedItems">
            <mat-chip class="processed-chip">
              {{ item.item_name }} ({{ item.percentage }}%) - {{ item.unit_name }}
            </mat-chip>
            <div *ngIf="item.conversion">
              <mat-chip class="conversion-chip">
                {{ item.conversion.from_unit_name }} <mat-icon class="conversion-icon">swap_horiz</mat-icon> {{ item.conversion.to_unit_name }} (Rate: {{ item.conversion.rate }})
              </mat-chip>
            </div>
          </ng-container>
        </mat-chip-set>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button class="edit-button" (click)="openEditYieldDialog(yield)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="delete-button" (click)="deleteYield(yield.rawItem.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
