<div class="units-container">
  <mat-toolbar color="primary">
    <span>Units</span>
    <span class="spacer"></span>
    <button mat-raised-button class="add-units-button" (click)="openAddUnitDialog()">
      <mat-icon>add</mat-icon>Add New Unit
    </button>
  </mat-toolbar>

  <mat-card class="units-card">
    <mat-card-content>
      <table mat-table [dataSource]="units" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Name </th>
          <td mat-cell *matCellDef="let unit"> {{ unit.name }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let unit">
            <button mat-icon-button class="edit-button" (click)="openEditUnitDialog(unit)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="delete-button" (click)="deleteUnit(unit.id,unit.name)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
