<!-- account-list.component.html -->
<div class="account-list-container">
  <mat-toolbar color="primary">
    <span>Account List</span>
    <span class="spacer"></span>
    <button mat-raised-button color="accent" class="add-account-button" (click)="addAccount()">Add Account</button>
  </mat-toolbar>

  <mat-card class="account-card">
    <mat-card-content>
      <div *ngIf="financialYear" class="financial-year-container">
        <p class="financial-year-text">Current Financial Year: {{ financialYear }}</p>
      </div>
      <table mat-table [dataSource]="accounts" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let account"> {{account.name}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let account"> {{account.description}} </td>
        </ng-container>

        <!-- Debit Balance Column -->
        <ng-container matColumnDef="debit_balance">
          <th mat-header-cell *matHeaderCellDef> Debit Balance </th>
          <td mat-cell *matCellDef="let account"> {{ formatNumber(account.debit_balance) }} </td>
        </ng-container>

        <!-- Credit Balance Column -->
        <ng-container matColumnDef="credit_balance">
          <th mat-header-cell *matHeaderCellDef> Credit Balance </th>
          <td mat-cell *matCellDef="let account"> {{ formatNumber(account.credit_balance) }} </td>
        </ng-container>

        <!-- Financial Year Column -->
        <ng-container matColumnDef="financial_year">
          <th mat-header-cell *matHeaderCellDef> Financial Year </th>
          <td mat-cell *matCellDef="let account"> {{account.financial_year}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let account">
            <button mat-icon-button color="primary" class="edit-button" (click)="editAccount(account)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" class="delete-button" (click)="deleteAccount(account.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="totals-container">
        <p class="total-debits">Total Debits: {{ formatNumber(totalDebits) }}</p>
        <p class="total-credits">Total Credits: {{ formatNumber(totalCredits) }}</p>
        <p [ngClass]="getDifference().class">Difference: {{ getDifference().value }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
