<h2 mat-dialog-title>Add Cash Entries</h2>
<mat-dialog-content>
  <form [formGroup]="cashBookForm" class="cash-book-form">
    <!-- Fixed Date -->
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Cash Entry Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="cash_entry_date" [matDatepickerFilter]="dateFilter">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Entries Array -->
    <div formArrayName="entries" class="entries-section">
      <div *ngFor="let entry of entries.controls; let i = index" [formGroupName]="i" class="entry-group">
        <div fxLayout="row" fxLayoutGap="16px">
          <!-- Account Name -->
          <mat-form-field fxFlex="25%" appearance="fill">
            <mat-label>Account Name</mat-label>
            <input type="text" matInput formControlName="account_name" [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete"
              (optionSelected)="onAccountSelectionChange($event.option.value, i)">
              <mat-option *ngFor="let account of accountList | supplierFilter: entry.get('account_name')?.value"
                [value]="{ id: account.id, name: account.name, group_id: account.group_id }">
                {{ account.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <!-- Narration -->
          <mat-form-field fxFlex="25%" appearance="fill">
            <mat-label>Narration</mat-label>
            <mat-select formControlName="narration" (selectionChange)="onNarrationChange($event.value, i)">
              <mat-option *ngFor="let narration of narrations" [value]="narration">{{ narration }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Debit -->
          <mat-form-field fxFlex="25%" appearance="fill">
            <mat-label>Debit</mat-label>
            <input matInput formControlName="cash_debit" (input)="updateRunningBalance()" />
          </mat-form-field>

          <!-- Credit -->
          <mat-form-field fxFlex="25%" appearance="fill">
            <mat-label>Credit</mat-label>
            <input matInput formControlName="cash_credit" (input)="updateRunningBalance()" />
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100%">
          <mat-form-field appearance="fill" style="width: 95%;">
            <mat-label>Narration</mat-label>
            <textarea matInput formControlName="narration_description" [readonly]="!isCustomNarration" rows="2"
              maxlength="100"></textarea>
          </mat-form-field>
          <button mat-icon-button color="warn" (click)="removeEntry(i)" class="remove-button">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- Add Entry Button -->
    <div fxLayoutAlign="start center" style="margin-top: 16px;">
      <button mat-button (click)="addEntry()" class="add-entry-button">Add Entry</button>
    </div>

    <!-- Running Balance -->
    <div fxLayoutAlign="end center" style="margin-top: 16px;">
      <strong>Running Balance:</strong> {{ runningBalance | currency:'INR':'symbol':'1.2-2':'en-IN' }}
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center" class="dialog-actions">
  <button mat-button (click)="onCancel()" class="cancel-button">Cancel</button>
  <button mat-raised-button (click)="onSave()" class="save-button">Save</button>
</mat-dialog-actions>