<!-- cash-book.component.html -->
<div class="cash-book-container">
  <mat-toolbar color="primary" class="toolbar">
    <span>Cash Book</span>
    <span class="spacer"></span>
    <button mat-raised-button color="accent" class="add-button" (click)="addCashEntry()">Add New Cash Entry</button>
  </mat-toolbar>

  <mat-card class="cash-book-card">
    <mat-card-content>
      <div class="opening-balance">
        <strong>Opening Balance: {{ openingBalance | currency:'INR':'symbol':'1.2-2':'en-IN' }}</strong>
      </div>
      <div *ngFor="let dateGroup of groupedTransactions">
        <h3>{{ dateGroup.date | date: 'dd-MM-yyyy':'Asia/Kolkata' }}</h3>
        <table mat-table [dataSource]="dateGroup.transactions" class="mat-elevation-z8">
          <ng-container matColumnDef="cash_entry_date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let transaction"> {{ transaction.cash_entry_date | date: 'dd-MM-yyyy':'Asia/Kolkata' }} </td>
          </ng-container>

          <ng-container matColumnDef="account_name">
            <th mat-header-cell *matHeaderCellDef> Account Name </th>
            <td mat-cell *matCellDef="let transaction"> {{ transaction.account_name }} </td>
          </ng-container>

          <ng-container matColumnDef="narration_description">
            <th mat-header-cell *matHeaderCellDef> Narration Description </th>
            <td mat-cell *matCellDef="let transaction"> {{ transaction.narration_description }} </td>
          </ng-container>

          <ng-container matColumnDef="cash_debit">
            <th mat-header-cell *matHeaderCellDef> Cash Debit </th>
            <td mat-cell *matCellDef="let transaction"> {{ transaction.cash_debit | currency:'INR':'symbol':'1.2-2':'en-IN' }} </td>
          </ng-container>

          <ng-container matColumnDef="cash_credit">
            <th mat-header-cell *matHeaderCellDef> Cash Credit </th>
            <td mat-cell *matCellDef="let transaction"> {{ transaction.cash_credit | currency:'INR':'symbol':'1.2-2':'en-IN' }} </td>
          </ng-container>

          <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef> Balance </th>
            <td mat-cell *matCellDef="let transaction"> {{ transaction.balance | currency:'INR':'symbol':'1.2-2':'en-IN' }} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let transaction">
              <button mat-icon-button color="primary" class="edit-button" (click)="editCashEntry(transaction)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" class="delete-button" (click)="deleteTransaction(transaction)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="date-balance">
          <strong>Running Balance for {{ dateGroup.date | date }}: {{ dateGroup.runningBalance | currency:'INR':'symbol':'1.2-2':'en-IN' }}</strong>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
