<div class="purchase-fields-container">
  <mat-toolbar color="primary" class="toolbar">
    <span>Category To Fields Mapping</span>
    <span class="spacer"></span>
    <button mat-raised-button class="add-purchase-fields-button" (click)="openAddFieldDialog()">
      Add New Field
    </button>
  </mat-toolbar>

  <mat-card class="purchase-fields-card">
    <mat-card-content>
      <div class="filter-container">
        <mat-form-field appearance="fill" class="filter-field">
          <mat-label>Category</mat-label>
          <mat-select [(value)]="selectedCategory" (selectionChange)="applyFilter()">
            <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="filter-field">
          <mat-label>Field Type</mat-label>
          <mat-select [(value)]="selectedFieldType" (selectionChange)="applyFilter()">
            <mat-option *ngFor="let fieldType of fieldTypes" [value]="fieldType">{{ fieldType }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="filter-field">
          <mat-label>Field Category</mat-label>
          <mat-select [(value)]="selectedFieldCategory" (selectionChange)="applyFilter()">
            <mat-option *ngFor="let fieldCategory of fieldCategories" [value]="fieldCategory">{{ fieldCategory }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox class="filter-checkbox" [(ngModel)]="excludeFromTotal" (change)="applyFilter()">Exclude from Total</mat-checkbox>
        <mat-checkbox class="filter-checkbox" [(ngModel)]="mandatory" (change)="applyFilter()">Mandatory</mat-checkbox>
        <button mat-raised-button class="reset-button" (click)="resetFilters()">Reset Filters</button>
      </div>
      <table mat-table [dataSource]="fields" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="category_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
          <td mat-cell *matCellDef="let field"> {{ field.category_name }} </td>
        </ng-container>

        <ng-container matColumnDef="field_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Field Name </th>
          <td mat-cell *matCellDef="let field"> {{ field.field_name }} </td>
        </ng-container>

        <ng-container matColumnDef="field_type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Field Type </th>
          <td mat-cell *matCellDef="let field"> {{ field.field_type }} </td>
        </ng-container>

        <ng-container matColumnDef="field_category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Field Category </th>
          <td mat-cell *matCellDef="let field"> {{ field.field_category === 1 ? 'Tax' : 'Normal' }} </td>
        </ng-container>

        <ng-container matColumnDef="account_name">
          <th mat-header-cell *matHeaderCellDef> Account Name </th>
          <td mat-cell *matCellDef="let element"> {{element.account_name}} </td>
        </ng-container>        

        <ng-container matColumnDef="exclude_from_total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Exclude from Total </th>
          <td mat-cell *matCellDef="let field"> {{ field.exclude_from_total ? 'Yes' : 'No' }} </td>
        </ng-container>

        <ng-container matColumnDef="required">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Mandatory </th>
          <td mat-cell *matCellDef="let field"> {{ field.required ? 'Yes' : 'No' }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let field">
            <button mat-icon-button class="edit-button" (click)="openEditFieldDialog(field)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="delete-button" (click)="deleteField(field.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
