<!-- add-edit-unit-dialog.component.html -->
<h1 mat-dialog-title>{{ data.unit ? 'Edit Unit' : 'Add New Unit' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="unitForm" class="add-edit-unit-dialog-form">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Unit Name</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="unitForm.get('name')?.hasError('required')">Unit name is required</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button class="cancel-button" (click)="onCancel()">Cancel</button>
  <button mat-button class="save-button" (click)="onSave()" [disabled]="!unitForm.valid">Save</button>
</div>
