.uploads-container {
  padding: 20px;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.custom-date-picker {
  margin-right: 20px;
  background-color: #f0f4f8;
  border-radius: 5px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #ffffff;
}

.mat-form-field-appearance-fill .mat-form-field-underline {
  background-color: #009879;
}

.mat-form-field-appearance-fill .mat-form-field-label {
  color: #009879;
}

.generate-report-button {
  background-color: #28a745;
  color: white;
  height: 56px;/* Match mat-form-field */
  padding: 0 20px;/* Only horizontal padding */
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
  white-space: nowrap;
  transition: background-color 0.3s, box-shadow 0.2s ease, transform 0.2s ease;
}

.generate-report-button:hover {
  background-color: #28a745;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

.generate-report-button:active {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  transform: scale(0.98);
}

.spacer {
  flex: 1 1 auto;
}

.uploads-card {
  margin-top: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
}

th.mat-header-cell {
  background-color: #3f51b5; /* Indigo background */
  color: white;
  font-weight: bold;
}

td.mat-cell {
  background-color: #e8eaf6; /* Light indigo background */
}

button {
  margin-right: 10px;
}

button.mat-button {
  font-weight: bold;
}

.run-ledger-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 14px;
  font-weight: bold;
}

.run-ledger-button:hover {
  background-color: #388e3c;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.error-message {
  color: #f44336;
  font-weight: bold;
}

.mat-tooltip {
  font-size: 12px;
}

@media (max-width: 768px) {
  .run-ledger-button {
    font-size: 12px;
    padding: 4px 10px;
  }

  th.mat-header-cell,
  td.mat-cell {
    padding: 8px;
    font-size: 12px;
  }
}

.mat-elevation-z8 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
