<mat-sidenav-container class="example-sidenav-container" *ngIf="authService.isLoggedIn()">
    <mat-sidenav #snav mode="side">
        <mat-nav-list>Accounts
            <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
            <a mat-list-item [routerLink]="['/details',1]">About</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="example-toolbar">
            <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
            <h1 class="example-app-name">Accounting Package</h1>
        </mat-toolbar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- Display router-outlet directly if not logged in -->
<div *ngIf="!authService.isLoggedIn()">
    <router-outlet></router-outlet>
</div>