.trail-balance-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.custom-date-picker {
  margin-right: 20px;
  background-color: #f0f4f8;
  border-radius: 5px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #ffffff;
}

.mat-form-field-appearance-fill .mat-form-field-underline {
  background-color: #009879;
}

.mat-form-field-appearance-fill .mat-form-field-label {
  color: #009879;
}

.generate-report-button {
  margin-left: auto; /* Push the button to the end of the line */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th, td {
  border: 1px solid #ddd;
  padding: 12px 15px;
}

th {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.financial-year-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f0f4f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.financial-year-text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.report-title {
  font-size: 2.5em; /* Larger font size */
  font-weight: bold; /* Bold text */
  color: #009879; /* Eye-catching color */
  text-align: center; /* Center alignment */
  margin-bottom: 20px; /* Space below the title */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.right-align {
  text-align: right;
}
