<!-- app.component.html -->
<button mat-button class="set-financial-year-button" (click)="openFinancialYearDialog()">Set Financial Year</button>
<div *ngIf="financialYear" class="financial-year-container">
  <p class="financial-year-text">Current Financial Year: {{ financialYear }}</p>
</div>
<div class="dashboard-container">
  <div class="dashboard-section">
    <h3>Entry Type Summary</h3>
    <canvas
      baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      [type]="barChartType"
    ></canvas>
  </div>
</div>
