<div class="category-units-container">
  <mat-toolbar color="primary">
    <span>Category Units</span>
    <span class="spacer"></span>
    <button mat-raised-button class="add-categoryUnits-button" (click)="openAddCategoryUnitDialog()">
      <mat-icon>add</mat-icon>Add New Category Unit
    </button>
  </mat-toolbar>

  <mat-card class="category-units-card">
    <mat-card-content>
      <div class="filter-container">
        <mat-form-field appearance="fill" class="filter-field">
          <mat-label>Category</mat-label>
          <mat-select [(value)]="selectedCategory" (selectionChange)="applyFilter()">
            <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="filter-field">
          <mat-label>Unit</mat-label>
          <mat-select [(value)]="selectedUnit" (selectionChange)="applyFilter()">
            <mat-option *ngFor="let unit of units" [value]="unit">{{ unit }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button class="reset-button" (click)="resetFilters()">Reset Filters</button>
      </div>
      <table mat-table [dataSource]="categoryUnits" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="category_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
          <td mat-cell *matCellDef="let categoryUnit"> {{ categoryUnit.category_name }} </td>
        </ng-container>

        <ng-container matColumnDef="unit_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit </th>
          <td mat-cell *matCellDef="let categoryUnit"> {{ categoryUnit.unit_name }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let categoryUnit">
            <button mat-icon-button class="edit-button" (click)="openEditCategoryUnitDialog(categoryUnit)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="delete-button" (click)="deleteCategoryUnit(categoryUnit.id,categoryUnit.category_name,categoryUnit.unit_name)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
