<h1 mat-dialog-title>{{ data.field ? 'Edit Field' : 'Add New Field' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="fieldForm" class="add-edit-field-dialog-form">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Category</mat-label>
      <input type="text" matInput formControlName="category_name" [matAutocomplete]="categoryAuto" />
      <mat-autocomplete #categoryAuto="matAutocomplete" (optionSelected)="onCategorySelectionChange($event.option.value)">
          <mat-option *ngFor="let category of categories | categoryFilter: fieldForm.get('category_name')?.value" [value]="{ id: category.id, name: category.name}">
          {{ category.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="fieldForm.get('category_id')?.hasError('required')">Category is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Field Name</mat-label>
      <input type="text" matInput formControlName="field_name" [matAutocomplete]="fieldAuto" />
      <mat-autocomplete #fieldAuto="matAutocomplete" (optionSelected)="onFieldSelectionChange($event.option.value)">
          <mat-option *ngFor="let field of fields | fieldFilter: fieldForm.get('field_name')?.value" [value]="{ id: field.id, name: field.field_name}">
          {{ field.field_name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="fieldForm.get('field_id')?.hasError('required')">Field name is required</mat-error> <!-- Updated to field_id -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Field Type</mat-label>
      <mat-select formControlName="field_type" required>
        <mat-option value="text">Text</mat-option>
        <mat-option value="number">Number</mat-option>
        <!-- Add more field types as needed -->
      </mat-select>
      <mat-error *ngIf="fieldForm.get('field_type')?.hasError('required')">Field type is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Field Category</mat-label>
      <mat-select formControlName="field_category" required (selectionChange)="onFieldCategoryChange($event)">
        <mat-option [value]="0">Normal</mat-option>
        <mat-option [value]="1">Tax</mat-option>
        <!-- Add more field categories as needed -->
      </mat-select>
      <mat-error *ngIf="fieldForm.get('field_category')?.hasError('required')">Field category is required</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="showAccountField" appearance="fill" class="form-field">
      <mat-label>Account</mat-label>
      <input type="text" matInput formControlName="account_name" [matAutocomplete]="taxAuto" />
      <mat-autocomplete #taxAuto="matAutocomplete" (optionSelected)="onAccountSelectionChange($event.option.value)">
          <mat-option *ngFor="let account of accounts | supplierFilter: fieldForm.get('account_name')?.value" [value]="{ id: account.id, name: account.name}">
          {{ account.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="fieldForm.get('account_id')?.hasError('required')">Account is required</mat-error>
    </mat-form-field>

    <div class="checkbox-container">
      <mat-checkbox formControlName="exclude_from_total" (change)="onExcludeFromTotalChange()">Exclude from Total</mat-checkbox>
      <mat-checkbox formControlName="required">Mandatory</mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button class="cancel-button" (click)="onCancel()">Cancel</button>
  <button mat-button class="save-button" (click)="onSave()">Save</button>
</div>
