<h1 mat-dialog-title>{{ data.field ? 'Edit Field' : 'Add New Field' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="fieldForm" class="add-edit-field-dialog-form">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category_id" required>
        <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="fieldForm.get('category_id')?.hasError('required')">Category is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Field Name</mat-label>
      <mat-select formControlName="field_id" required> <!-- Updated to field_id -->
        <mat-option *ngFor="let field of fields" [value]="field.id">{{ field.field_name }}</mat-option> <!-- Updated value to field.id -->
      </mat-select>
      <mat-error *ngIf="fieldForm.get('field_id')?.hasError('required')">Field name is required</mat-error> <!-- Updated to field_id -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Field Type</mat-label>
      <mat-select formControlName="field_type" required>
        <mat-option value="text">Text</mat-option>
        <mat-option value="number">Number</mat-option>
        <!-- Add more field types as needed -->
      </mat-select>
      <mat-error *ngIf="fieldForm.get('field_type')?.hasError('required')">Field type is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Field Category</mat-label>
      <mat-select formControlName="field_category" required (selectionChange)="onFieldCategoryChange($event)">
        <mat-option [value]="0">Normal</mat-option>
        <mat-option [value]="1">Tax</mat-option>
        <!-- Add more field categories as needed -->
      </mat-select>
      <mat-error *ngIf="fieldForm.get('field_category')?.hasError('required')">Field category is required</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="showAccountField" appearance="fill" class="form-field">
      <mat-label>Account</mat-label>
      <mat-select formControlName="account_id" required>
        <mat-option *ngFor="let account of accounts" [value]="account.id">{{ account.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="fieldForm.get('account_id')?.hasError('required')">Account is required</mat-error>
    </mat-form-field>

    <div class="checkbox-container">
      <mat-checkbox formControlName="exclude_from_total" (change)="onExcludeFromTotalChange()">Exclude from Total</mat-checkbox>
      <mat-checkbox formControlName="required">Mandatory</mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button class="cancel-button" (click)="onCancel()">Cancel</button>
  <button mat-button class="save-button" (click)="onSave()">Save</button>
</div>
